// Color style
$redo: #920101
$red: #d34733
$dark-ash: #333f4e
$ash: #47525f
$dark-grey: #e5e7e8
$middle-grey: #ebedef

// Common style
body
	font-family: 'Open Sans'
ul
	-webkit-margin-before: 0
	-webkit-padding-start: 0
li
	list-style: none
a, a:hover, a:focus
	text-decoration: none
.save-padding
	padding-left: 0
	padding-right: 0
.fa-margin
	margin-right: 20px
.panel-heading
	color: #404040 !important
	background-color: #f3f3f3 !important
.fix-title
	text-align: center
	font-size: 10px
.panel-titleo
	display: inline-block
.tabs
	transition: 500ms all ease
	font-size: 12px
	border: none
	border-top-left-radius: 5px
	border-top-right-radius: 5px
	border-left: 1px solid #ddd
	border-top: 1px solid #ddd
	border-right: 1px solid #ddd
	padding: 10px 25px
	background-color: $middle-grey
	display: inline-block
	position: relative
	top: 0px
	z-index: 2
	float: left
	color: #9F9F9F
.tabs:hover
	background-color: #D3D3D3
.tabs-active
	color: $dark-ash
	background-color: white
.tabs-active:hover
	background-color: white 
[class^="tabs"]:hover
	color: $dark-ash
.tab-top
 	position: relative
 	top: 0px
.tab-tope
 	position: relative
 	top: -7px
label
	font-weight: bold
	color: #888
	font-size: 13px
.menu-active
	background-color: $redo
	color: white !important

// Mixin
=transition
	transition: 500ms all ease
// login
.top-login
	position: relative
	top: 200px
	color: white
	button
		width: 180px
		margin-top: 30px
		padding: 30px 40px
		border-radius: 100px
		font-size: 30px

// admin style
.side
	margin-top: 55px
	position: fixed
	z-index: 20
.top
	position: fixed
	z-index: 10
	width: 100%
.right
	margin-left: 16.66666667%
	margin-top: 55px
	background-color: #ebedef
.upper-top
	background-color: $red
	padding-top: 15px
	padding-bottom: 15px
	color: white
.side-header
	display: block
	background: $dark-ash
	color: white
	padding-left: 20px
	padding-top: 20px
	padding-bottom: 20px
	.icon-encona
		vertical-align: middle
		font-size: 30px
		display: inline-block
		margin-right: 10px
	.title-dash
		font-weight: 600
		vertical-align: middle
		display: inline-block
.def-panel-left
	// display: inline-block
	// width: 17%
.def-panel-right
	// display: inline-block
	// width: 82%
.actives
	background-color: $ash
	border-right: 5px solid $red
.side-content
	min-height: 100vh
	display: block
	background: $dark-ash
	a:hover
		background-color: $ash
	a
		display: block
		padding-left: 30px
		padding-top: 10px
		padding-bottom: 10px
		color: white
		font-size: 12px
		line-height: 2.4
.upper-left
	padding-left: 20px
	width: 50%
	display: inline-block
.upper-right
	padding-right: 20px
	text-align: right
	width: 49%
	display: inline-block
	.inline-btn
		font-size: 12px
		line-height: 1.47
		color: #414141
		background-color: $middle-grey
		border: 1px solid #c7c7c7
		border-top-left-radius: 4px
		border-bottom-left-radius: 4px
		padding: 3px 7px 3px 10px
		position: relative
		right: -1px
	.logout
		float: right
		+transition
		font-size: 12px
		color: #414141
		background-color: $middle-grey
		border: 1px solid #c7c7c7
		border-top-right-radius: 4px
		border-bottom-right-radius: 4px
		padding: 3px 15px 3px 10px
.topi
	background-color: $dark-grey
	padding: 13px 30px
.content
	background-color: $middle-grey
	min-height: 100vh
	padding: 30px
	.title-content
		color: $red
		margin-top: 0
		margin-bottom: 20px 
		font-weight: 300
.fa-margino
	margin-right: 10px
.live-preview:hover
	color: white
	background-color: $red
	border: 1px solid $red
.live-preview
	+transition
	display: block
	margin-bottom: 20px
	text-align: center
	width: 100%
	background-color: white
	padding: 7px 25px
	border-radius: 4px
	border: 1px solid #ddd
	color: $red
.panel-body
	td
		width: 30%
		height: 40px
		// border-bottom: 1px solid #ddd
		font-size: 12px
	.foo
		color: #999
		margin-right: 10px
[class^="panel-body"]
	display: block
	padding: 30px
.title-top
	line-height: 2
	padding-bottom: 5px
	margin-bottom: 5px
	border-bottom: 1px solid #ddd
.date-now
	font-size: 25px
	margin-bottom: 10px
.time-now
	color: $red	
	font-size: 18px
.btne
	font-size: 12px !important
.panel-middle
	h4
		margin-left: 14px
		font-weight: 300
		color: #888
.menu:hover
	border-left: 1px solid #ddd
	border-right: 5px solid $red
	box-shadow: 0px 0px 6px 0px rgba(#000, 0.2)
.menu
	+transition
	color: #888
	border: 1px solid #ddd
	background-color: white
	padding: 15px 30px
	margin-top: 5px
	margin-bottom: 5px
	border-left: 5px solid $red
	box-shadow: 0px 0px 2px 0px rgba(#000, 0.2)